[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
thefuzz = "*"
python-levenshtein-wheels = "*"
scipy = "*"
flask = "*"
flask-wtf = "*"
azure-ai-formrecognizer = "*"
numpy = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.8"
